/**********************************
*
*          Main Style
*
**********************************/
.wrong {
    display: block;
}

.good {
    display: none;
}


div.article-text,
.ck-editor {
    p {
        display: block !important;
        margin: 1em 0 !important;
        padding: 0px !important;

        em {
            font-style: italic;
        }
    }

    // style from https://www.w3schools.com/css/css_table.asp
    table {
        table-layout: fixed;
        text-align: center;
        width: 100% !important;

        td,
        th {
            border: 1px solid #ddd;
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            background-color: #6c757d;
            color: white;
            text-align: center;
        }
    }
}

.margin {
    margin-top: 100px;
}

div {
    form {
        input.crawler-input {
            height: 0.8em;
            color: white;
            background-color: transparent;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid black;
            box-shadow: none;
            padding: 0;
        }
    }
}

.cwTeXKai {
    font-family: "cwTeXKai", serif;
}

.cwTeXYen {
    font-family: "cwTeXYen", sans-serif;
}

.Noto-Sans-TC {
    font-family: "Noto Sans TC", sans-serif;
}

.skip { //超過兩行的文字overflow:hidden
    max-height: 37px;
    display: -webkit-box; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.single-novel-block-hover{ //block shadow
    transition: box-shadow 0.3s ease; /* 添加过渡效果 */

    /* 初始状态下没有阴影 */
    box-shadow: none;
}

.single-novel-block-hover:hover{
    /* 鼠标悬停时添加阴影效果 */
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}
.main-color{
    background: #f8ff00;
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}
.title-hover:hover{ //顏色變淺
    color: black; /* 改变字体颜色为黑色 */
    opacity: 0.5; /* 设置透明度为0.5 */
}




